.container {
  background-color: #333;
  padding: 15px 0;
  border-bottom: 4px solid #21ba45;

  .wrapper {
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
