@import "../../styles/style";

.container {
  min-width: $main-min-width;
}

.wrapper {
  padding: 1em 0 0;
  margin: 0 auto;
  max-width: $main-min-width;

  // @include clearfix();
}

.logo {
  float: left;
  color: $main-color;
  font-size: 2em;
  text-decoration: none;
}

.toolbar_container {
  float: right;
}

.toolbar_user {
  // @include clearfix;
}

.toolbar_user_action {
  float: left;
  margin-left: 1em;
}


