$main-color: #444 !default;
$main-color-bg: #f7f7f7 !default;
$main-font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Verdana, Aril, sans-serif;
$main-min-width: 960px;
